@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DaMiOne";
  src: url("fonts/DaMiOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cydre";
  src: url("fonts/Cydre/Cygre-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


:root {
  font-family: "Cydre", sans-serif;
  font-weight: 400;
  padding: 0px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-family: "DaMiOne";
}

#root {
  min-width: 374px;
  max-width: 100%;
  /* min-height: 798px; */
  margin: 0 auto;
}

.load-page {
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-page {
  background-image: url('assets/main-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.planet{
  width: 59.3%;
  box-shadow: inset 0px 5px 10px 0px #FFFFFF, 0px -3px 7px 0px #FFFFFF;
}

.green-copy {
  filter: brightness(0) saturate(100%) invert(63%) sepia(66%) saturate(366%) hue-rotate(48deg) brightness(93%) contrast(88%);
}

.gray-copy {
  filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(0%) hue-rotate(95deg) brightness(88%) contrast(86%);
}

.modalActive {
  top: calc(50% - 90px);
  left: calc(50% - 154px);
}

